.src-section {
  margin-bottom: 80px;
}

.info-cards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.info-card {
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  background-color: #fff;
  color: #000;
  border: 4px solid #000;
  box-shadow: 10px 10px 0 #000;
  padding: 40px;
}

.info-card.card-2 {
  background-color: #00a651; /* Green */
  color: #fff;
}

.info-card-content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.info-card-title {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.info-card p {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  line-height: 1.5;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.8rem;
}

@media (max-width: 768px) {
  .info-card {
    width: 95%;
    padding: 20px;
  }
  .info-card p {
    font-size: 0.95rem;
  }
}
